imports:
  - path: {{ TEMPLATE_PATH }}/exasol_cluster_google_generate_new_VNET.jinja

resources:
  - name: exasol-cluster
    type: {{ TEMPLATE_PATH }}/exasol_cluster_google_generate_new_VNET.jinja
    properties:
      publicIP: true
      dbNodeCount: 2
      standbyNode: 0
      dbSystemName: exasol
      exasolPassword: exasol
      dbPassword: exasol
      license: ""
      firewallRule: 0.0.0.0/0
      networkCidr: 192.168.0.0/24
      subnetworkCidr: 192.168.0.0/24
      zone: europe-west1-b
      timezone: Europe/Berlin
      image: 'https://www.googleapis.com/compute/v1/projects/public-marketplace/global/images/exasol-6-2-3-payg'
      machineTypeManagementNode: n1-standard-2
      machineTypeDatabaseNode: n1-highmem-2
      dnsServer: 169.254.169.254
      ntpServer: ntp.ubuntu.com
      blockDeviceVolumeSizeGB: 140
      blockDeviceCount: 1
      token: {{ TOKEN }}
      join_server: {{ JOIN_SERVER }}
      {% if PORT is defined %}port: {{ PORT }}{% endif %}
